@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/74d734ca-0eab-4cd9-871f-bca01823d872/web/IN-en-20241021-TRIFECTA-perspective_2277eb50-9da3-4fdf-adbe-74db0e9ee2cf_medium.jpg);
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    top: 0;
    position: absolute;
}

.bg-img {
    cursor: pointer;
    margin-top: 50px;
    height: 100px;
    width: 250px;
    fill: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

nav {
    height: 62px;
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero {

    font-family: "Martel Sans", sans-serif;
    color: white;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 29px;
    padding: 0, 23px;
}

.hero> :nth-child(1) {
    font-family: popins;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 4px;
    background-color: rgb(65, 63, 63);
}

.btn {
    padding: 7px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-red {
    cursor: pointer;
    background-color: red;
    padding: 3px 24px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}

.hero-buttons {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 4px;

}

.main input {
    padding: 7px 100px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0px solid rgba(180, 176, 176, 0.5);
}

.btn-red-sm {
    cursor: pointer;
    background-color: red;
    padding: 8px 24px;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}

.body-text {
    color: white;
    font-size: 30px;
    padding: 40px 80px;
}

#country {
    cursor: pointer;
    height: 40px;
    width: 84px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid white;

}

#movies {
    cursor: pointer;
    height: 40px;
    width: 84px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid white;
    margin-left: 10px;

}

.bd-text-button {
    padding-top: 20px;
}

.movie-pics {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    gap: 70px;
    margin: 80px;
    height: 300px;
    width: 200px;
    background-size: cover;
}

.heading2 {

    font-size: 23px;
    font-weight: 300;
    color: white;
    background-color: black;
    margin-left: 80px;
}

.boxes {
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

@media (min-width : 1200px) {
    .boxes {
        padding: 1.5rem 1rem 8rem 1rem;
    }
}

.boxes h1 {
    margin-left: 20px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}

.box1 {
    border-radius: 8px;
    width: 300px;
    height: 290px;
    background-color: rgb(15, 15, 15);
}

.box2 {
    border-radius: 8px;
    width: 300px;
    height: 290px;
    background-color: rgb(15, 15, 15);
}

.box3 {
    border-radius: 8px;
    width: 300px;
    height: 290px;
    background-color: rgb(15, 15, 15);
}

.box4 {
    border-radius: 8px;
    width: 300px;
    height: 290px;
    background-color: rgb(15, 15, 15);
}

.text1 {
    margin-top: 100px;
    margin-left: 10px;
}

.text2 {
    margin-left: 10px;
    margin-top: 30px;
}

.text3 {
    margin-left: 10px;
    margin-top: 100px;
}

.text4 {
    margin-left: 10px;
    margin-top: 60px;
}

.faq h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.faq {
    background: black;
    color: white;
    padding: 34px;

}

.faq-box {
    cursor: pointer;
    font-size: 24px;
    justify-content: space-between;
    height: 30px;
    display: flex;
    background-color: gray;
    padding: 20px;
    margin:  30px auto;
    max-width: 85vw;
    border-radius: 15px;
}